@{
    ViewBag.Title = "Tiep tuc chuyen buoc";
}
<div class="Commonheader">
    <div class="HeaderTitle">
        <span class="titleText" style="text-align:center;">Tiep tuc chuyen buoc</span>
    </div>
</div>
<form>
    <div class="frame">
        <div class="divBody">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 100px; text-align: right; padding-right: 5px;">Vi tri:</td>
                        <td colspan="2">
                            <input disabled="" type="text" id="txtPlaceNo" size="13" style="background-color:Gainsboro;" value="@ViewBag.placeNo">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Ma vach:</td>
                        <td colspan="2">
                            <input disabled="" type="text" id="txtBarcode" size="13" style="background-color:Gainsboro;" value="@ViewBag.barcode">
                            <input hidden="hidden" type="text" id="txtReason" size="13" style="background-color:Gainsboro;" value="Tiep tuc chuyen buoc">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; padding-right: 5px;">Ket qua:</td>
                        <td>
                            <span id="lblResult" class="cResult" style="background-color:red">@ViewBag.result</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="Message" style="height: 160px;">
                <textarea readonly id="txtMessage" style="position:absolute;z-index:2;height: 156px;overflow-x: hidden;">@ViewBag.message</textarea>
            </div>
            &nbsp;<input type="button" id="btnCancel" class="Button" value="Huy bo" onclick="Cancel()" style="width:120px; background-color:red;color:white;">
            <input type="button" id="btnConfirm" class="Button" value="Xac nhan" onclick="ConfirmBefore()" style="float:right; margin-right: 5px; width:120px; background-color:blue;color:white;visibility: visible;">
        </div>
    </div>
</form>
<script type="text/javascript">
    var Cancel = function () {
        window.location = '@Url.Action("Index", "ScanBarcode")';
    };

    function SetStyleResultNG() {
        document.getElementById('lblResult').style.backgroundColor = 'Red';
    }

    //Xử lý trước khi Tiep tuc chuyen buoc
    function ConfirmBefore() {
        //Thông báo đang xử lý
        document.getElementById('txtMessage').value = "Dang xu ly...";
        setTimeout(Confirm, 10);
    }

    //Tiep tuc chuyen buoc
    function Confirm() {
        var placeNo = document.getElementById('txtPlaceNo').value;
        var barcode = document.getElementById('txtBarcode').value;
        var reason = document.getElementById('txtReason').value;

        $.ajax({
            type: "GET",
            cache: false,
            async: false,
            url: '@Url.Action("Scan_Barcode", "ScanBarcode")?placeNo=' + placeNo + '&barcode=' + barcode + '&reason=' + reason,
            dataType: "text",
            success: SubmitAfter,
            error: AjaxErrorSubmitAfter
        });
    }

    //Xử lý sau khi Tiep tuc chuyen buoc
    var SubmitAfter = function (data) {
        var parameter = data.split("#");

        var result = parameter[0];
        var message = parameter[1];

        document.getElementById('lblResult').innerText = result;
        document.getElementById('txtMessage').value = message;

        if (result == 'NG') {
            SetStyleResultNG();
        } else {
            Cancel();
        }

        return false;
    }

    //Lỗi khi Tiep tuc chuyen buoc
    var AjaxErrorSubmitAfter = function (xhr) {
        if (xhr.status == 999) {
            document.getElementById('txtMessage').value = 'Khong the ket noi duoc voi may chu';
        } else if (xhr.status == 500) {
            document.getElementById('txtMessage').value = 'Tiep tuc chuyen buoc that bai (ErrorCode: 500)';
        };
        document.getElementById('txtMessage').value = 'Tiep tuc chuyen buoc that bai (Error)';
    }

    $(function () {
    });

</script>

